{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %}Welcome | {{ block.super }}{% endblock %}




{% block jumbotron %}

<div class="jumbotron">
<div class="row">
      <div class="col-sm-8 col-xs-6" >
            <h1>Bloging</h1>
            <p>This project is just to a headsup for begining of my learnig. It is mainly to help to get some extra learning</p>
            <p>
            <a class="btn btn-lg btn-primary" href="../../components/#navbar" role="button">join me</a>
            </p>
      </div>

      <div class="col-sm-4 col-xs-6" style="background-color: black ;height : 300px;">
      </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row">

  <div class="col-sm-3 pull-right">

			<p class='lead text-align-center'>{{ title }}</p>

			<form method='POST' action=''>{% csrf_token %}
			{{ form|crispy }}

			<input class='btn btn-primary' type='submit' value='Sign Up' />

			</form>
	</div>

	<div class='col-sm-3'>
<p class='lead text-align-center'>Built with Django &amp; Bootstrap</p>
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Created for Starters of all kinds. </p>
</div>

<div class='col-sm-3'>
<p class='lead text-align-center'>Always Open Source</p>
</div>


</div>


{% endblock %}
